@font-face { 
    font-family: "Gilroy"; 
    src: local("Gilroy Light"),
         url("fonts/web/gilroylight.woff2") format("woff2"), 
         url("fonts/web/gilroylight.woff") format("woff"); 
    font-style: normal;
    font-weight: lighter; 
}

@font-face {
    font-family: "Gilroy";
    src: local("Gilroy Extra Bold"),
        url("fonts/web/gilroyextrabold.woff2") format("woff2"),
        url("fonts/web/gilroyextrabold.woff") format("woff");
    font-style: normal;
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;

    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 2;
    font-weight: 300;
    color: #464646;
    letter-spacing: 0.01em;
    
    background-color: #fff;
}

.button {
    display: inline-block;
    box-sizing: border-box;
    width: 220px;
    height: 40px;
    margin: 0;
    padding: 0;
    padding-top: 12px;
    background-color: #f0c52e;
    border: none;

    font-family: "Gilroy", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: bold;
    color: #000;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

.button:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-search-field{
    background-color: transparent;
    border: none;

    color: rgba(0, 0, 0, 0.3)
}

.main-search-field:hover {
    color: rgba(0, 0, 0, 0.6)
}

.main-search-field:focus,
.main-search-field:active {
    color: #000;

    border-bottom: 2px solid #000;
    outline: none;
}

.main-search-button {
    color: #000;

    background-color: transparent;
    border: 2px solid #000;
}

.main-search-button:hover,
.main-search-button:focus {
    color: #fff;

    background-color: #000;
    text-align: center;
    vertical-align: middle;
    outline: none;
}

.main-search-button:active {
    color: rgba(225, 225, 225, 0.3); 
}

.main-navigation-header li,
.popular li,
.services li,
.logotypes li,
.main-footer li{
    list-style: none;
}

.user-navigation-header a {
    line-height: 2.4;
    color: #000;
    text-decoration: none;
}

.sait-navigation a {
    font-family: "Gilroy", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: bold;
    color: #000;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
}

.navigation-catalog-list a {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 2.4; 
    font-weight: 300;
    letter-spacing: 0.01em;
    text-transform: none;
    text-decoration: none;
}

.user-navigation-header a:hover,
.user-navigation-header a:focus,
.sait-navigation a:hover,
.sait-navigation a:focus {
    color: rgba(0, 0, 0, 0.6);

    outline: none;
}

.user-navigation-header a:active,
.sait-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.visually-hidden {
        position: absolute;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
}

.slider-item-content h3 {
    font-family: "Gilroy", Arial, Helvetica, sans-serif;
    font-size: 47px;
    line-height: 1.2;
    font-weight: bold;
    color: #000;
}

table {
    border-collapse: collapse;
}

.item-stats th {
    font-size: 13px;
    line-height: 1.54;
    font-weight: 300;
    text-align: left;
    padding: 0;
}

.item-stats td {
    font-family: "Gilroy", Arial, Helvetica, sans-serif;
    font-size: 36px;
    line-height: 1.2;
    font-weight: lighter;
    color: #000;

    padding-right: 80px;
    padding-bottom: 18px;
}

.popular-item-img {
    display: inline-block;
    box-sizing: border-box;
    width: 160px;
    height: 160px;
    background-color: #f6dc82;
    text-align: center;
}

.popular-item-img:hover, 
.popular-item-img:focus{
    background-color: #f0c52e;
}

.popular-list a{
    font-family: "Gilroy", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: bold;
    color: #000;
    letter-spacing: 0.01em;
    text-decoration: none;
}
/*
.services {
    position: relative;
}

.services::after {
    content: "";
    display: block;
    position: absolute;
    top: 200px;

    width: 1445px;
    height: 288px;
    background-color: #e5e5e5;
}
*/

.services-item h3,
.about-us h2,
.contacts h2 {
    font-family: "Gilroy", Arial, Helvetica, sans-serif;
    font-size: 47px;
    line-height: 1.2;
    font-weight: bold;
    color: #000;
    letter-spacing: 0.01em;
}

.logotyp-img {
    display: none;
}

.company-list a{
    font-family: "Gilroy", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 2.5;
    font-weight: bold;
    color: #000;
    letter-spacing: 0em;
    text-decoration: none;
}

/*Оформление catalog.html*/

.user-navigation-exit-button {
    color: rgba(0, 0, 0, 0.3);

    background-color: transparent;
    border: none;
}

.user-navigation-exit-button:hover,
.user-navigation-exit-button:focus {
    color: rgba(0, 0, 0, 0.6);

    outline: none;
}

.user-navigation-exit-button:active {
    color: #000;
}

.inner-page h1 {
    font-family: "Gilroy", Arial, Helvetica, sans-serif;
    font-size: 47px;
    line-height: 1.2;
    font-weight: bold;
    color: #000;
    letter-spacing: 0.01em;
}

.breadcrumbs li {
    list-style: none;
}

.breadcrumbs a {
    font: inherit;
    font-size: 14px;
    line-height: 2.6;
    color: rgba(0, 0, 0, 0.3);

    text-decoration: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    color: rgba(0, 0, 0, 0.6);

    outline: none;
}

.breadcrumbs a:active {
    color: rgba(0, 0, 0, 0.1);
}

.filters {
    background-color: #efefef;
}

.filters h2,
.sorting h2 {
    font-family: "Gilroy", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: bold;
    color: #000;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.filter-name,
.catalog-list h3 {
    font-family: "Gilroy", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: bold;
    color: #000;
    letter-spacing: 0.01em;
}

.price-slider-data {
    font-family: "Gilroy", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 0.63;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.2);
    letter-spacing: 0em;
}

.filter-list li {
    font-family: inherit;
    font-size: 14px;
    line-height: 2.86;
    font-weight: 300;
    color: #000;

    list-style: none;
}

.sorting-list li {
    list-style: none;
}

.sorting-list a {
    font-family: inherit;
    font-size: 14px;
    line-height: 1.29;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);
    letter-spacing: 0em;

    text-decoration: none;
}

.sorting-list a:hover,
.sorting-list a:focus {
    color: rgba(0, 0, 0, 0.6);

    outline: none;
}

.sorting-list .is-active,
.sorting-list a:active {
    color: #000;
}

.catalog-list li {
    list-style: none;
}

.catalog-list a {
    color: #000;

    text-decoration: none;
}

.catalog-item-price {
    font-family: "Gilroy", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: lighter;
    color: #464646;
    letter-spacing: 0.01em;
}

.compare-button {
    font: inherit;
    font-size: 13px;
    line-height: 2.77;
    color: rgba(0, 0, 0, 0.5);

    border: none;
    background-color: transparent;
}
.compare-button:hover,
.compare-button:focus {
    color: #000;

    outline: none;
}

.compare-button:active {
    color: rgba(0, 0, 0, 0.2);
}

.pagination-list {
    background-color: #ebebeb;
}

.pagination-list li{
    list-style: none;
}

.pagination-list a{
    font-family: "Gilroy", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.3);
    letter-spacing: 0.2em; 

    text-decoration: none;
}

.pagination-list a:hover,
.pagination-list a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.pagination-item-is-active a,
.pagination-list a:active,
.back a,
.next a,
.back a:hover,
.next a:hover {
    color: #000;
}

.pagination-list li:first-child:hover,
.pagination-list li:last-child:hover,
.pagination-list li:first-child:active,
.pagination-list li:last-child:active {
    background-color: #d9d9d9;

}

/*Футер*/
.main-footer {
    background-color: #464646;
}

.user-navigation-footer a{
    color: rgba(225, 225, 225, 0.7);
    line-height: 2.4; 
    text-decoration: none;
}

.main-footer>p {
    color: #fff;
    letter-spacing: 0em;
}

.sait-navigation-footer {
    text-align: center;
}

.sait-navigation-footer a{
    font-family: "Gilroy", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.2em;
    text-align: center;
    text-decoration: none;
}

.user-navigation-footer a:hover {
    color: #fff;
}

.sait-navigation-footer a:hover {
    color: rgba(225, 225, 225, 0.6)
}

.sait-navigation-footer a:focus,
.user-navigation-footer a:focus {
    color: rgba(225, 225, 225, 0.3)
}

.social-btn {
    text-align: center;
}

.social-btn {
    color: #fff;
}

.write-us-form {
    width: 960px;
    height: 553px;

    background-color: #fff;
    /*box-shadow: 0 10px 80px 10px #000;*/     
}

.write-us-form label {
    font-family: "Gilroy", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
    color: #000;
    letter-spacing: 0em;
}

.write-us-form input[type="text"],
.write-us-form input[type="email"],
.write-us-form textarea {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.29; 
    font-weight: 400;
    color: rgba(70, 70, 70, 0.4);
    letter-spacing: 0em;

    background-color: rgba(242, 242, 242, 0.5);
    border: none;
}

.write-us-form input[type="text"]:hover,
.write-us-form input[type="email"]:hover,
.write-us-form textarea:hover {
    background-color: rgba(234, 234, 234, 0.8);
}

.write-us-form input[type="text"]:focus,
.write-us-form input[type="text"]:active,
.write-us-form input[type="email"]:focus,
.write-us-form input[type="email"]:active,
.write-us-form textarea:focus,
.write-us-form textarea:active {
    color: rgb(70, 70, 70);

    background-color: transparent;
    outline: 3px solid #f0c52e; 
}
/*
.write-us-form input[type="text"]:invalid,
.write-us-form input[type="email"]:invalid {
    background-color: #f6dada;
}*/