@font-face { 
    font-family: "Gilroy"; 
    src: local("Gilroy Light"),
         url("fonts/web/gilroylight.woff2") format("woff2"), 
         url("fonts/web/gilroylight.woff") format("woff"); 
    font-style: normal;
    font-weight: lighter; 
}

@font-face {
    font-family: "Gilroy";
    src: local("Gilroy Extra Bold"),
        url("fonts/web/gilroyextrabold.woff2") format("woff2"),
        url("fonts/web/gilroyextrabold.woff") format("woff");
    font-style: normal;
    font-weight: bold;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font: 300 15px/2 "Open Sans", Arial, Helvetica, sans-serif;
    color: #464646;
    letter-spacing: 0.01em;
    
    background-color: #fff;
}

.container {
    width: 1200px;

    margin: 0 auto;
    padding: 0 20px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
    display: inline-block;
    
    position: relative;
    width: 220px;
    height: 40px;
    margin: 0;
    padding: 0;
    z-index: 1;

    background-color: transparent;
    border: none;

    font: bold 18px/40px "Gilroy", Arial, Helvetica, sans-serif;
    color: #000;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

    .button::before {
        content: "";
        display: inline-block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 8px;
        left: 0;
        top:50%;
        transform: translateY(-50%);

        background-color: #f0c52e;
    }

    .button:hover::before,
    .button:focus::before {
        height: 40px;
        outline: none;
    }

.button:hover,
.button:focus {
    outline: none;
}

.button:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-header {
    padding-top: 40px;
}

    .main-navigation-header { 
        position: relative;

        width: 100%;
        min-height: 186px;

        padding: 35px 60px;
        padding-bottom: 0px;

        background-color: #f7e296;
    }

        .logo-header {
            position: absolute;
            top: -18px;
        }    
            
        .logo-header:focus {
            outline: none;
        }

        .main-navigation-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            flex-wrap: wrap;
        }

        .main-search {
            position: relative;
        }

            .main-search::before {
                content: "";
                display: inline-block;
                vertical-align: center;

                position: absolute;
                top: 16px;
                left: 0px;

                width: 29px;
                height: 16px;

                background: url("../img/search.svg") no-repeat center left;
            }

            .main-search-field {
                width: 357px;
                height: 49px;

                padding-left: 40px;

                background-color: transparent;
                border: none;
                border-bottom: 2px solid transparent;
            }

                .main-search-field::-webkit-input-placeholder {
                    font: 300 15px/2.4 "Open Sans", Arial, Helvetica, sans-serif;
                    color: rgba(0, 0, 0, 0.3);
                    letter-spacing: 0.01em;
                    
                }

                .main-search-field:hover::-webkit-input-placeholder {
                    color: rgba(0, 0, 0, 0.6);
                }

            .main-search-field:focus,
            .main-search-field:active,
            .main-search-field.is-active {
                color: #000;

                border-bottom-color: #000;
                outline: none;
            }

            .main-search-button {
                display: none;

                position: absolute;
                top: 0;
                left: 357px;

                width: 85px;
                height: 49px;

                padding: 0;

                color: #000;
                line-height: 45px;
                text-align: center;
                vertical-align: middle;

                background-color: transparent;
                border: 2px solid #000;
                border-radius: 0;

                cursor: pointer;
            }

            .main-search-field:focus + button,
            .main-search-field:active + button,
            .main-search-field.is-active + button {
                display: inline-block;
            }

            .main-search-field:active + button:hover,
            .main-search-field.is-active + button:hover,
            .main-search-field:active + button:focus,
            .main-search-field.is-active + button:focus {
                color: #fff;

                background-color: #000;
                outline: none;
            }

            .main-search-field:focus + button:active,
            .main-search-field:active + button:active,
            .main-search-field.is-active + button:active {
                color: rgba(225, 225, 225, 0.3); 
            }

        .main-navigation-header li,
        .popular li,
        .services li,
        .logotypes li,
        .main-footer li {
            list-style: none outside;
        }

        .user-navigation-header,
        .sait-navigation,
        .navigation-catalog-list {
            margin: 0;
            padding: 0;
        }

        .user-navigation-header {
            display: flex;
            flex-wrap: wrap;
            
            width: 520px;

            margin-left: auto;
            margin-bottom: 32px;
        }

            .user-navigation-header li {
                min-width: 100px;
            }

            .user-navigation-header .user-enter {
                padding-left: 48px;
            }

            .user-navigation-header .comparison {
                margin-left: auto; 
                padding-left: 21px;
                
            }

            .user-navigation-header .cart {
                text-align: right;
                padding-left: 50px;
            }

                .user-navigation-header a {
                    line-height: 2.4;
                    color: #000;
                    text-decoration: none;
                }    
                
                .user-navigation-header a {
                    position: relative;
                }

                    .user-enter a::before,
                    .user-name a::before {
                        content: "";
                        position: absolute;
                        top: 3px;
                        left: -28px;

                        width: 15px;
                        height: 13px;

                        background: url("../img/user.svg") no-repeat center left;
                    }

                    .comparison a::before {
                        content: "";
                        position: absolute;
                        top: 3px;
                        left: -23px;

                        width: 13px;
                        height: 13px;

                        background: url("../img/compare.svg") no-repeat center left;
                    }

                    .cart a::before {
                        content: "";
                        position: absolute;
                        top: 3px;
                        left: -23px;

                        width: 14px;
                        height: 14px;

                        background: url("../img/cart.svg") no-repeat center left;
                    }

        .user-navigation-exit-button {
            padding: 0;

            color: rgba(0, 0, 0, 0.3);

            background-color: transparent;
            border: none;
        }

        .user-navigation-exit-button:hover,
        .user-navigation-exit-button:focus {
            color: rgba(0, 0, 0, 0.6);

            outline: none;
        }

        .user-navigation-exit-button:active {
            color: #000;
        }

.sait-navigation {
    display: flex;

    width: 100%;
}

    .sait-navigation > li{
        width: 160px;
    }

    .sait-navigation > li:first-child {
        width: 540px;
    }

    .sait-navigation > li:last-child {
        width: 120px;
        margin-left: auto;
    }

    .sait-navigation a {
        font: bold 18px/1.2 "Gilroy", Arial, Helvetica, sans-serif;
        color: #000;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        text-decoration: none;
    }

        .sait-navigation-catalog {
            position: relative;
        }

        .sait-navigation-catalog > a {
            position: relative;
        }

        .sait-navigation-catalog > a::after {
            content: "";
            position: absolute;
            top: 3px;
            right: -23px;

            width: 17px;
            height: 17px;

            background: url("../img/plus.svg") no-repeat center right;
            opacity: 0.3;
        }

            .navigation-catalog {
                display: none;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: baseline;

                width: 1160px;
                min-height: 150px;

                position: absolute;
                top: 15px;
                left: -60px;
                z-index: 1;

                margin: 0;
                margin-top: 25px;
                padding: 0;
                                        
                background-color: #f7e296;
            }

            .sait-navigation-catalog:hover .navigation-catalog,
            .sait-navigation-catalog:focus .navigation-catalog,
            .sait-navigation-catalog:active .navigation-catalog,
            .navigation-catalog.is-active {
                display: flex;
            }

                .navigation-catalog-list {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;

                    width: 200px;
                    min-height: 90px;

                    margin-right: 20px;
                }

                .navigation-catalog-list:first-child {
                    margin-left: 60px;
                }

                .navigation-catalog-list:last-child {
                    margin-right: auto;
                }

                    .navigation-catalog-list li {
                        margin: 0;
                        padding: 0;
                    }

                .navigation-catalog-list a {
                    font:300 15px/2.4 "Open Sans", Arial, Helvetica, sans-serif;
                    letter-spacing: 0.01em;
                    text-transform: none;
                    text-decoration: none;
                }

 
                .user-navigation-header a:hover,
        .user-navigation-header a:focus,
        .sait-navigation a:hover,
        .sait-navigation a:focus {
            opacity: 0.6;

            outline: none;
        }

        .sait-navigation-catalog > a:hover::after,
        .sait-navigation-catalog > a:focus::after {
            opacity: 0.5;
        }

        .user-navigation-header a:active,
        .sait-navigation a:active {
            opacity: 0.3;
        }

        .sait-navigation-catalog > a:active::after {
            opacity: 1;
        }

.sliders-list {
    position: relative;
    margin-bottom: 63px;
}
    
    .sliders-list::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;

        width: 1160px;
        height: 113px;

        background-color: #f7e296;

        counter-reset: flag;
    }

    .sliders-list::after {
        content: "";
        position: absolute;
        top: 38px;
        left: 600px;
        z-index: -1;

        width: 100px;
        height: 7px;

        background-color: #fff;
    }


    .slider-item {
        display: flex;
        justify-content: space-between;

        position: relative;

        width: 100%;
        min-height: 530px;

        padding-right: 50px;
        padding-left: 18px;
    }

    .slider-item::before {
        content: "";
        position: absolute;
        top: -15px;
        right: 50px;
        z-index: -1;

        font: bold 179.2px/1 "Gilroy", Arial, Helvetica, sans-serif;
        color: #fff;

        counter-increment: flag;
        content: "0" counter(flag);
    }

        .slider-item .img-wrap {
            position: relative;

            width: 530px;
            height: 490px;
        }
            .slider-img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                margin: 0 auto;
                vertical-align: center;
            }

        .slider-item-content {
            display: flex;
            flex-direction: column;

            width: 510px;
            min-height: 500px;

            margin-left: auto;
            padding-top: 80px;
        }

            .slider-item-content h3 {
                margin: 0;
                margin-bottom: 15px;
                padding: 0;

                font: bold 47px/1.2 "Gilroy", Arial, Helvetica, sans-serif;
                color: #000;
            }

            .slider-item-content p {
                margin: 0;
                margin-bottom: 47px;
                padding: 0;
            }

            .item-stats {
                
                margin-top: 57px;
                
                border-collapse: collapse;
            }

                .item-stats th {
                    padding: 0;

                    font-size: 13px;
                    line-height: 1.54;
                    font-weight: 300;
                    text-align: left;
                }

                .item-stats td {
                    padding: 0;
                    margin: 0;
                    padding-right: 80px;

                    font: lighter 36px/1.2 "Gilroy", Arial, Helvetica, sans-serif;
                    color: #000;
                    text-align: left;
                }

                .item-stats td:last-child {
                    padding-right: 0;
                }

        .slider-list-navigation {
            position: absolute;
            top: 317px;
            right: 83px;
        }

            .slider-button {
                display: inline-block;
                vertical-align: middle;

                width: 12px;
                height: 12px;

                margin: 0;
                margin-left: 17px;
                padding: 0;
                
                background-color: transparent;
                border: 1px solid #000;
                border-radius: 50%;

                font-size: 0;
                line-height: 0;

                cursor: pointer;
            }

            .slider-button.is-active,
            .slider-button:active {
                box-shadow: 
                0 0 0 3px #fff inset,
                0 0 0 4px #000 inset;
            }

    .popular-list {
        display: flex;
        flex-wrap: wrap;

        margin: 0;
        margin-bottom: 120px;
        padding: 0;
    }

    .popular-list li {
        flex-basis: 160px;

        margin-right: 40px;
        margin-bottom: 64px;

    }

    .popular-list li:nth-child(6n) {
        margin: 0;
    }

        .popular-list a {
            font: bold 18px/1.2 "Gilroy", Arial, Helvetica, sans-serif;
            color: #000;
            letter-spacing: 0.01em;
            text-decoration: none;
        }

        .popular-list a:active {
            color: rgba(225, 225, 225, 0.3);
        }

            .popular-item-img {
                display: inline-block;
                position: relative;

                width: 160px;
                height: 160px;

                margin: 0;
                margin-bottom: 35px;
                padding: 0;

                text-align: center;
                vertical-align: middle;

                background-color: #f7e296;
            }
            
            .popular-img {         
                position: absolute;
                top: 50%;
                left: 50%;

                max-width: 100%;
                height: auto;

                margin: 0;
                padding: 0;

                transform: translate(-50%,-50%);
            }

            .popular-img.monopod {
                padding-top: 40px;
            }

            .popular-item:hover .popular-item-img, 
            .popular-item:focus .popular-item-img {
                background-color: #f0c52e;
                outline: none;
            }

            .popular-item:active .popular-img {
                filter: opacity(30%);
            }

            .popular-item p {
                margin: 0;
                padding: 0;
            }

.services {
    height: 288px;
    width: 100%;

    margin-bottom: 92px;

    background-color: #e5e5e5;
}

    .services .container {
        position: relative;
    }

        .services .container::before {
            content: "";
            position: absolute;
            top: -101px;
            left: 300px;

            width: 7px;
            height: 319px;

            background-color: #000;
        }

    .services-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .services-nav {
        width: 280px;

        margin-right: 120px; 
    }

        .services-nav ul {
            margin: 0;
            margin-top: -20px;
            padding: 0;
        }

        .services-nav li {
            margin-bottom: 24px;
        }

        .services-button {
            width: 160px;
        }

        .services-button.is-active,
        .services-button:active {
            color: #f7e184;
        }

        .services-button.is-active::before,
        .services-button:active::before {
            width: 280px;
            height: 40px;

            background-color: #000;
        }

    .services-item {
        width: 700px;
    }

        .services-item p {
            display: inline-block;
            vertical-align: middle;

            width: 460px;
            min-height: 85px;

            margin: 0;
            padding: 0;
        }

        .services-item h3,
        .about-us h2,
        .contacts h2 {
            margin: 0;
            padding: 0;

            font: bold 47px/1.2 "Gilroy", Arial, Helvetica, sans-serif;
            color: #000;
            letter-spacing: 0.01em;
        }

        .services-item h3 {
            margin-top: -31px;
            margin-bottom: 25px;
        }

    .services-item.credit::after {
        content: "";
        display: inline-block;
        vertical-align: top;

        position: absolute;
        top: -41px;
        right: 70px;

        width: 180px;
        height: 200px;

        background: url("../img/credit.svg") no-repeat center;
    }

    .services-item.warranty::after {
        content: "";
        display: inline-block;
        vertical-align: top;

        position: absolute;
        top: -41px;
        right: 46px;

        width: 180px;
        height: 200px;

        background: url("../img/warranty.svg") no-repeat center;
    }

    .services-item.delivery::after {
        content: "";
        display: inline-block;
        vertical-align: top;

        position: absolute;
        top: -27px;
        right: 66px;

        width: 180px;
        height: 200px;

        background: url("../img/delivery.svg") no-repeat center;
    }

    .logotypes {
        margin-bottom: 144px;
    }

    .logotypes-list {
        display: flex;
        justify-content: space-between;
        align-content: center;

        margin: 0;
        padding: 0;
    }

        .logotypes-list li{
            flex-basis: 260px;
        }

            .logotypes-list a {
                display: inline-block;
                vertical-align: top;
                overflow: hidden;
                
                width: 260px;
                height: 100px;
            }

                .logo img {
                    opacity: 0.2;
                }

                .logo:hover img,
                .logo:focus img {
                    transform: translateX(-50%);
                    opacity: 1;
                    outline: none;
                }

                .logo:active img {
                    opacity: 0.7;
                }

.container-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: baseline;

    min-height: 525px;

    margin: 0;
}

    .about-us {
        display: flex;
        flex-wrap: wrap;
        position: relative;

        width: 560px;
        min-height: 530px;
    }

        .about-us::before {
            content: "";
            position: absolute;
            top: -48px;
            left: 0;

            width: 80px;
            height: 7px;

            background-color: #000;
        }

        .about-us p,
        .contacts p {
            margin: 0;
            margin-bottom: 25px;
            padding: 0;
        }

        .about-us p:last-of-type {
            margin-bottom: 62px;
        }

        .contacts p:last-of-type {
            margin-bottom: 30px;
        }

        .about-us h2,
        .contacts h2 {
            margin: 0;
            margin-bottom: 30px;
            padding: 0;
        }

        .about-us ul {
            list-style: none outside;

            margin: 0;
            padding: 0;
            padding-left: 35px;
        }

        .about-us li {
            position: relative;
        }
            
            .about-us li:before {
                content: "";
                position: absolute;
                top: 10px;
                left: -35px;

                width: 10px;
                height: 10px;

                background: url("../img/slider-button-list.svg") no-repeat center;
            }
        

    .contacts {
        display: flex;
        flex-wrap: wrap;
        position: relative;

        width: 560px;
        min-height: 530px;
    }

    .contacts::before {
        content: "";
        position: absolute;
        top: -48px;
        left: 0;

        width: 80px;
        height: 7px;

        background-color: #000;
    }

        .pop-up.map {
            display: block;
            margin-bottom: 65px;
        }

        .button-columns {
            align-self: flex-end;
            width: 260px;
            
            margin-right: 200px;
        }

.company-list a {
    font: bold 16px/2.5 "Gilroy", Arial, Helvetica, sans-serif;
    color: #000;
    letter-spacing: 0;
    text-decoration: none;
}

/*Оформление catalog.html*/

.inner-page .main-navigation-header {
    margin-bottom: 36px;
}

.inner-page .button {
    width: 200px;
}

.inner-container {
    display: flex;
}

.inner-page h1 {
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    padding-left: 60px;

    font: bold 47px/1.2 "Gilroy", Arial, Helvetica, sans-serif;
    color: #000;
    letter-spacing: 0.01em;
}

.breadcrumbs {
    display: flex;

    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    padding-left: 60px;

    list-style: none outside;
}

    .breadcrumbs li::after {
        content: "";
        display: inline-block;
        vertical-align: middle;

        padding: 0 15px;

        width: 4px;
        height: 7px;

        background: url("../img/navarrow.svg") no-repeat center;
    }

    .breadcrumbs li:last-child::after {
        display: none;
    }

        .breadcrumbs a {
            font-size: 14px;
            line-height: 2.6;
            color: rgba(0, 0, 0, 0.3);

            text-decoration: none;
        }

        .breadcrumbs a:hover,
        .breadcrumbs a:focus {
            color: rgba(0, 0, 0, 0.6);

            outline: none;
        }

        .breadcrumbs a:active {
            color: rgba(0, 0, 0, 0.1);
        }

        .breadcrumbs .is-active {
            pointer-events: none;
            cursor: default;
            color: rgba(0, 0, 0, 0.3);
        }

.catalog-col-container {
    display: flex;

    position: relative;

    min-height: 100%;
}

    .catalog-col-container::after {
        content: "";
        display: block;
        
        width: 100%;

        position: absolute;
        top: 0;
        bottom: 0;
        right: 50%;
        transform: translateX(-272px);
        z-index: 0;

        background-color: #eee;
    }


        .filters {
            width: 270px;
            min-height: 800px;

            position: relative;
            z-index: 2;

            margin-left: 58px;
        }

    .catalog-container {
        width: 67.5%;
        
        padding-left: 73px;

        z-index: 2;
    }

        .catalog {
            width: 760px;
            min-height: 1050px;

            padding-top: 94px;
        }

            .catalog-list {
                display: flex;
                flex-wrap: wrap;

                width: 760px;
                height: 1072px;

                margin: 0;
                padding: 0;
            }

                .catalog-item {
                    width: 360px;
                    height: 464px;

                    margin-left: 40px;
                }

                .catalog-item:nth-child(odd) {
                    margin-left: 0;
                }   
                
                    .catalog-item-image {
                        margin: 0;
                        padding: 0;
                    }

                    .catalog-item a:hover,
                    .catalog-item a:focus {
                        color: rgba(0, 0, 0, 0.6);
                    }
                
                    .catalog-item a:active {
                        color: rgba(0, 0, 0, 0.3);
                    }

                    .action-button {
                        display: none;

                        position: absolute;
                        top: 0px;
                        left: 0px;
                    }

                    .catalog-item:hover .action-button,
                    .catalog-item:focus .action-button,
                    .catalog-item:active .action-button {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-content: center;
                        
                        width: 100%;
                        height: 380px;

                        background-color: rgba(238, 238, 238, 0.7);
                    }

                        .action-button button:nth-child(1) {
                            margin: 0 auto;
                        }
               
        .sorting {
            display: flex;
            align-items: baseline;

            width: 760px;
            height: 35px;
            padding-top: 5px;
        }

            .sorting h2 {
                width: 147px;

                margin: 0;
                padding: 0;
                margin-right: 54px;
            }

            .sorting-list {
                display: flex;

                width: 560px;

                margin: 0;
                padding: 0;
            }

                .sorting-list li {
                    list-style: none outside;
                    margin-right: 32px;
                }
            
                    .sorting-list a {
                        font-size: 14px;
                        line-height: 1.29;
                        font-weight: 400;
                        color: rgba(0, 0, 0, 0.3);
                        letter-spacing: 0;
                
                        text-decoration: none;
                    }
                
                    .sorting-list a:hover,
                    .sorting-list a:focus {
                        color: rgba(0, 0, 0, 0.6);
                
                        outline: none;
                    }
                
                    .sorting-list .is-active,
                    .sorting-list a:active {
                        color: #000;
                    }
            
            .sorting-pointers {
                display: flex;
                justify-content: space-between;
                width: 45px;

                margin: 0;
                padding: 0;
                margin-left: auto;
            }
                .sorting-pointers li {
                    list-style: none; 
                }
            
                .sorting-pointer {
                    display: inline-block;
                    border: none;
                    line-height: 0;
                    font-size: 0;

                    background-color: transparent;
                }
                
                .sorting-pointer::before {
                    content: "";
                    display: inline-block;
                    border: 10px solid #000;
                    opacity: 0.2;
                    border-right-width: 5px;
                    border-left-width: 5px;
                    border-right-color: transparent;
                    border-left-color: transparent;
                }
            
                .sorting-pointer-up::before {
                    border-top-width: 0;
                }
            
                .sorting-pointer-down::before {
                    border-bottom-width: 0;
                }
            
                .sorting-pointer:hover::before,
                .sorting-pointer:focus::before {
                    outline: none;
                    opacity: 0.4;
                }
            
                .sorting-pointer:active::before,
                .pointer-is-active::before {
                    opacity: 1;
                }

    .catalog-col-container::before {
        content: "";
        display: block;

        width: 100%;
        height: 40px;

        position: absolute;
        top: 0;
        z-index: 1;

        background-color: rgba(0, 0, 0, 0.08);
    }

    .filters fieldset {
        border: none;
    }

    .price-slider {
        display: inline-block;
        position: relative;
        width: 196px;
        height: 2px;
        line-height: 0;
        font-size: 0;

        background-color: #dbdbdb;
    }

        .price-slider-bar {
            display: inline-block;
            position: absolute;
            width: 110px;
            height: 2px;

            background-color: #91c92f;
        }

    .price-slider-button {
        display: inline-block;
        position: absolute;
        top: -12px;
        left: -10px;
        width: 30px;
        height: 30px;

        background: url("../img/filterbutton.svg") no-repeat center/20px 22px;
    }

    .price-slider-button-to {
        left: 100px;
    }

    .price-slider-button:hover,
    .price-slider-button:focus,
    .price-slider-button:active {
        outline: none;
        background-size: 22px 24px;
    }

    .price-slider-data {
        font: lighter 14px/0.63 "Gilroy", Arial, Helvetica, sans-serif;
        color: rgba(0, 0, 0, 0.2);
        letter-spacing: 0;
    }

    .filters h2,
    .sorting h2 {
        font: bold 16px/1.2 "Gilroy", Arial, Helvetica, sans-serif;
        color: #000;
        letter-spacing: 0.2em;
        text-transform: uppercase;
    }

    .filters h2 {
        margin: 0;
        padding: 0;
        margin-bottom: 108px;
        padding-left: 10px;
        padding-top: 10px;
    }

    .filter-name,
    .catalog-item h3 {
        margin: 0;
        padding: 0;

        font: bold 18px/1.2 "Gilroy", Arial, Helvetica, sans-serif;
        color: #000;
        letter-spacing: 0.01em;
    }

    .filter-list li{
        list-style: none outside;
    }

    .filter-list input[type="checkbox"]+label,
    .filter-list input[type="radio"]+label {
        font-size: 14px;
        line-height: 2.86;
        font-weight: 300;
        color: #000;

        list-style: none outside;
        cursor: pointer;
    }

    .filter-list input[type="checkbox"]+label::before,
    .filter-list input[type="radio"]+label::before {
        content: "";
        display: inline-block;
        width: 27px;
        height: 25px;
        margin: 5px 17px 0 0;
    }

    .filter-list input[type="checkbox"] + label::before {
        background: url("../img/checkboxoff.svg") no-repeat bottom left/23px 23px;
    }

    .filter-list input[type="radio"] + label::before {
        background: url("../img/radiooff.svg") no-repeat bottom left/25px 25px;
    }

    .filter-list input[type="checkbox"]:checked+label::before,
    .filter-list input[type="checkbox"]:active+label::before {
        background: url("../img/checkboxon.svg") no-repeat bottom left/27px 23px;
    }

    .filter-list input[type="checkbox"]:hover + label::before,
    .filter-list input[type="checkbox"]:focus + label::before {
        opacity: 0.6;
        outline: none;
    } 

    .filter-list input[type="radio"]:checked + label::before,
    .filter-list input[type="radio"]:active + label::before {
        background: url("../img/radioon.svg") no-repeat bottom left/25px 25px;
    }

    .filter-list input[type="radio"]:disabled + label::before,
    .filter-list input[type="checkbox"]:disabled + label::before {
        opacity: 0.25;
        pointer-events: none;
        cursor: default;
    }

    .filter-list input[type="radio"]:hover + label::before,
    .filter-list input[type="checkbox"]:disabled + label::before {
        opacity: 0.6;
        outline: none;
    } 

.catalog-list li {
    list-style: none outside;
}

    .catalog-item {
        display: inline-block;
        position: relative;
    }

    .catalog-item-new {
        position: absolute;
        top: 28px;
        right: 27px;

        display: inline-block;
        width: 60px;
        height: 61px;

        background: url("../img/new.png") no-repeat center;
    }

    .catalog-list a {
        color: #000;

        text-decoration: none;
    }

    .catalog-item-price {
        font: lighter 16px/1.2 "Gilroy", Arial, Helvetica, sans-serif;
        color: #464646;
        letter-spacing: 0.01em;
    }

    .compare-button {
        font: inherit;
        font-size: 13px;
        line-height: 2.77;
        color: rgba(0, 0, 0, 0.5);

        border: none;
        background-color: transparent;
    } 

    .compare-button:hover,
    .compare-button:focus {
        color: #000;

        outline: none;
    }

    .compare-button:active {
        color: rgba(0, 0, 0, 0.2);
    }

.pagination-list {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;

    width: 760px;
    height: 70px;

    margin: 0;
    padding: 0;

    line-height: 70px;

    background-color: #ebebeb;
}

    .pagination-list li {
        list-style: none outside;
    }

    .pagination-list a {
        font: bold 16px/1.2 "Gilroy", Arial, Helvetica, sans-serif;
        color: rgba(0, 0, 0, 0.3);
        letter-spacing: 0.2em; 

        text-decoration: none;
        text-transform: uppercase;
    }

    .pagination-list a:hover,
    .pagination-list a:focus {
        color: rgba(0, 0, 0, 0.6);
    }

    .back a,
    .next a {
        display: inline-block;
        position: absolute;
        width: 126px;
        height: 100%;
        line-height: 70px;
        text-align: center;
        vertical-align: middle;

        background-color: transparent;
    }

    .back a {
        top:0;
        left: 0;
    }

    .next a {
        top:0;
        right: 0;
    }

    .back a:hover,
    .next a:hover,
    .back a:active,
    .next a:active {
        background-color: #d9d9d9;
    }

    .pagination-item-is-active a,
    .pagination-item-is-active a:hover,
    .pagination-item-is-active a:focus,
    .pagination-list a:active,
    .back a,
    .next a,
    .back a:hover,
    .next a:hover {
        color: #000;
    }


/*Футер*/
.main-footer {
    margin-top: 80px;
    min-height: 325px;
    padding: 60px 0;

    background-color: #464646;
}

    .main-footer .container {
        display: flex;
        flex-wrap: wrap;
        
        position: relative;
    }

        .main-footer .container::after {
            content: "";
            position: absolute;
            top: 171px;
            left: 20px;

            width: 80px;
            height: 7px;

            background-color: #ffc600;
        }

        .main-footer p {
            margin: 0;
            padding: 0;

            color: #fff;
            letter-spacing: 0;
        }

        .user-navigation-footer {
            display: flex;
            justify-content: flex-end;
            align-content: baseline;

            flex-basis: 460px;

            margin: 0;
            padding: 0;

            margin-left: auto;
        }

            .user-navigation-footer li {
                min-width: 100px;

            }

            .user-navigation-footer a {
                position: relative;

                color: rgba(225, 225, 225, 0.6);
                line-height: 2.4; 
                text-decoration: none;
            }
    
            .cart-footer {
                text-align: right;
            }

            .user-enter-footer a::before {
                content: "";
                position: absolute;
                top: 3px;
                left: -28px;

                width: 15px;
                height: 13px;

                background: url("../img/userfooter.svg") no-repeat center left;
            }

            .comparison-footer a::before {
                content: "";
                position: absolute;
                top: 3px;
                left: -23px;

                width: 13px;
                height: 13px;

                background: url("../img/comparefooter.svg") no-repeat center left;
            }

            .cart-footer a::before {
                content: "";
                position: absolute;
                top: 3px;
                left: -23px;

                width: 14px;
                height: 14px;
                background: url("../img/cartfooter.svg") no-repeat center left;
            }

            .cart-footer a:hover::before,
            .cart-footer a:focus::before,
            .comparison-footer a:hover::before,
            .comparison-footer a:focus::before,
            .user-enter-footer a:hover::before,
            .user-enter-footer a:focus::before {
                opacity: 0.6;
                outline: none;
            }

            .user-navigation-footer a:hover,
            .user-navigation-footer a:focus {
                    color: #fff;
                    outline: none;
            }

    .sait-navigation-footer {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        flex-basis: 560px;

        margin: 0;
        margin-bottom: 50px;
        padding: 0;
        padding: 0 67px;
    }

        .sait-navigation-footer li:first-child {
            width: 123px;
        }

        .sait-navigation-footer li:nth-child(2) {
            width: 110px;
        }

        .sait-navigation-footer li:last-child {
            width: 118px;
        }

            .sait-navigation-footer a {
                font: bold 18px/1.2 "Gilroy", Arial, Helvetica, sans-serif;
                color: #fff;
                letter-spacing: 0.2em;
                text-decoration: none;
                text-transform: uppercase;
            }

            .sait-navigation-footer a:hover,
            .sait-navigation-footer a:focus {
                color: rgba(242, 242, 242, 0.6);
                outline: none;
            }

            .sait-navigation-footer a:active,
            .user-navigation-footer a:active,
            .cart-footer a:active::before
            {
                color: rgba(225, 225, 225, 0.3);
            } 

            .comparison-footer a:active::before,
            .user-enter-footer a:active::before {
                opacity: 0.3;
        }

    .social-btn {
        display: flex;
        justify-content: space-between;
        flex-basis: 141px;

        margin: 0;
        margin-left: auto;
        margin-right: 483px;
        padding: 0;
    }

        .social-btn li {
            width: 32px;
        }

        .social-btn a {
            text-decoration: none;
            color: #fff;
            opacity: 0.3;
        }

        .social-btn a:hover,
        .social-btn a:focus,
        .htmlacademy-link:hover,
        .htmlacademy-link:focus {
            opacity: 0.6;
            outline: none;
        }

        .social-btn a:active,
        .htmlacademy-link:active {
            opacity: 0.1;
        }

    .logo-footer {
        flex-basis: 200px;

        margin-right: 400px;
        margin-bottom: 33px;
    }

    .htmlacademy-link {
        flex-basis: 27px;
    }

    .main-footer .phonenumber {
        flex-basis: 164px;
        margin-left: 136px;
    }

    .main-footer .direction {
        flex-basis: 300px;
    }

    
/*Модальные окна*/
.write-us-form {
    width: 960px;
    height: 553px;

    /*box-shadow: 0 10px 80px 10px #000;*/     
}

    .write-us-form label {
        font: bold 18px/1 "Gilroy", Arial, Helvetica, sans-serif;
        color: #000;
        letter-spacing: 0;
    }

        .write-us-form input[type="text"]::-webkit-input-placeholder,
        .write-us-form input[type="email"]::-webkit-input-placeholder,
        .write-us-form textarea::-webkit-input-placeholder {  
            font: 400 14px/1.29 "Open Sans", Arial, Helvetica, sans-serif;
            color: rgba(70, 70, 70, 0.4);
            letter-spacing: 0;
        }

    .write-us-form input[type="text"],
    .write-us-form input[type="email"],
    .write-us-form textarea {
        background-color: rgba(242, 242, 242, 0.5);
        border: none;
    }

    .write-us-form input[type="text"]:hover,
    .write-us-form input[type="email"]:hover,
    .write-us-form textarea:hover {
        background-color: rgba(234, 234, 234, 0.8);
    }

    .write-us-form input[type="text"]:focus,
    .write-us-form input[type="text"]:active,
    .write-us-form input[type="email"]:focus,
    .write-us-form input[type="email"]:active,
    .write-us-form textarea:focus,
    .write-us-form textarea:active {
        color: rgb(70, 70, 70);

        background-color: transparent;
        outline: 3px solid #f0c52e; 
    }

.write-us-form input[type="text"]:invalid,
.write-us-form input[type="email"]:invalid {
background-color: #f6dada;
}